:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --site-nav-color: #212121;
  --hero-bg-color: #2f303a;
  --hero-title-color: #ffffff;
  --section-title-color: #212121;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --address-list-street-color: #ffffff;
  --address-list-color: rgba(255, 255, 255, 0.6);
  --button-active-bg-color: #2196f3;
  --button-deactive-bg-color: #f5f4fa;
  --button-active-text-color: #ffffff;
  --button-deactive-text-color: #212121;
  --icons-title-color: #afb1b8;
}
